h1 {
    background-color: rgb(129, 255, 255);
    padding: 3%;
    color: rgb(0, 0, 119);
    font-size: 3rem;
    text-align: center;
}

p {
    margin: 4% 3%;
    text-align: justify;
}

img {
    display: block;
    margin: auto;
    border-radius: 5%;
}